body {
font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
font-size: 14px;
margin: 0;
padding: 0;
}
body *{
margin:0; padding: 0;
}
a{
color: #444443;
cursor: pointer;
text-decoration: none;
}
#container,#header,#footer{
width: 900px;
margin: 5px auto;
}
form label{width: 160px;display: block;}
form input{margin: 10px 0;}
input, textarea{
width: 16em;
height: 2em;
margin: 3px 0 10px;
border: 1px solid gray;
border-radius: 5px;
padding: 2px;
font-size: 12px;
}
textarea{
width: 25em;
height: 6em;
}
input:focus, textarea:focus{
box-shadow: 0 0 3px -1px #6181C0;
}
ul{
list-style-type: none;}
ul li{
float: left;
padding: 4px 8px;
}
li.active a{
color: #D22525;
}
#header{
background: none repeat scroll 0 0 #3D3D3D;
    color: #F6F6F6;
    height: 30px;
    margin: 0 auto;
    padding: 20px 40px 10px;
}
.post{
border-bottom: 1px solid #D5D5D5;
    margin: 10px 0 20px;
    height: 150px;
    overflow: hidden;
}
.post p{
width: 550px;
float: left;
padding: 10px;
}
.post img{
float: right;
    margin: 0 20px;
display: inline;
}
.product p{
float: left;height: 150px;padding: 40px 20px;width: 400px;
}
.product img{
border: 1px solid #DFDFDF;display: inline;float: left;margin: 0 50px;
}
.supplier{
width: 100%;
clear: both;
height: 200px;
}
.supplier img{
border: 1px solid #DFDFDF;display: inline;float: right;margin: 0 50px;
}
